<h1>Import Employees From Excel</h1>



<h3>Requirements</h3>
<ul>
  <li>Here you could list the validations you have in place for your model</li>
  <li>That way your user has a better chance of successful import</li>
</ul>

<h5>Select File</h5>
<%= form_for @employees_import do |f| %>
  <% if @employees_import.errors.any? %>
    <%= pluralize(@employees_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @employees_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.file_field :file %>
  <%= f.submit "Import File" %>
<% end %>